{% comment %}
  Placeholder to allow defining custom head, in principle, you can add anything here, e.g. favicons:

  1. Head over to https://realfavicongenerator.net/ to add your own favicons.
  2. Customize default _includes/custom-head.html in your source directory and insert the given code snippet.
{% endcomment %}

<script src="https://kit.fontawesome.com/d447b37efb.js" crossorigin="anonymous"></script>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Merriweather:ital@0;1&family=Roboto&family=Roboto+Slab:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,500&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap" rel="stylesheet">



<script>
MathJax = {
  tex: {
    inlineMath: [['$', '$'], ['\\(', '\\)']],
    tags: 'ams',
    macros: {
        d: '{\\mathrm{d}}',
        pdv: ['{\\frac{\\partial #1}{\\partial #2}}', 2],
        vbi: ["\\boldsymbol{#1}", 1],
        vb: ["\\mathbf{#1}", 1],
        vu: ["\\hat{\\mathbf{#1}}", 1],
        vui: ["\\hat{\\boldsymbol{#1}}", 1],
        e: "{\\mathrm{e}}",
        i: "{\\mathrm{i}}",
        dv: ["{\\frac{d #1}{d #2}}", 2],
        slash: "{\\big/\\hspace{-0.59em}}",
    },
  },
  svg: {
    fontCache: 'global'
  }
};
</script>

<script type="text/javascript" id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
