<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
      <span class="material-icons" style = "position:relative;top:0.2em">
      email
      </span>&emsp;jack DOT farrell AT colorado.edu

<div style = "float:right">
<a href = "https://github.com/jfarrellhfx"><svg class="svg-icon grey"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg>&emsp;jfarrellfx</a>
</div>
    </div>



</footer>
