// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

* {
    box-sizing: border-box;
}
.column {
  float: left;
}

.left {
    width: 70%;
}

.right {
    float:right;
    width: 25%;
}

.left2 {
    width: 25%;
}

.right2 {
    float:right;
    width: 70%;
}



.row:after {
  display: table;
  content: "";
  clear: both;
}


/* Clear floats after the columns */

@media screen and (max-width: $on-large) {
  .column {
    width: 100%;
  }
}



.three-col {
    width: 33.33%;
    padding: 10px;
    float:left;
    height: 40%;
}

@media screen and (max-width: $on-large) {
    .three-col {
        width: 50%;
        height: 500px;
    }



}

@media screen and (max-width: $on-large) {
  .column {
    width: 100%;
    padding: 0px;

}


}




@media screen and (max-width: 800px) {
  .three-col {
    width: 100%;
    padding:0px;
    height: auto;
  }




}

@media screen and (min-width: 800px) {
    .narrow {
        width:800px;
        margin:auto;
    }




}

.test {
    margin-top: 2 * $spacing-unit;
}

.two-col {
    width: 50%;
    padding: 10px;
    float: left;
}

@media screen and (max-width: $on-large) {
.two-col {
    padding:0px;
    width:100%;
}
}
