// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)
@media screen and ( max-width: 480px ) {
img.responsive { width: 75%; }
}

@media screen and ( min-width: 480px ) {
img.responsive { width: 25%; float:right; margin-left: 30px; margin_bottom:30px}
}
